<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@scavengerbot/cryptofont/style.min.css">
    <link class="theme" rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Binance 24h Liquidation Data</title>
    <script>
      function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
      }
      function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
      }
      function loadref(time) {
        setTimeout("location.reload(true) ;",time) ;
      }
      window.onload = function () {

        loadref(60000);

        var nowts = "{{ ts }}"
        var ydayts = "{{ yts }}"

        var chart = new CanvasJS.Chart("chartLiqVolume", {
        	animationEnabled: true,
          theme: "dark1", // "light1", "light2", "dark1", "dark2"
        	title:{
        		text: "Top 10 burned by Volume",
        	},
        	data: [{
        		type: "pie",
        		startAngle: 60,
            yValueFormatString: "$##0.00",
            indexLabel: "{label} - {y}",
        		dataPoints: [
              {% for size in sizes %}
                {"label":"{{ size[0] }}","y":{{ size[1] }}},
              {% endfor %}
            ]
      	  }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartLiqAmount", {
        	animationEnabled: true,
          theme: "dark1", // "light1", "light2", "dark1", "dark2"
        	title:{
        		text: "Top 10 by Liq-Events",
        	},
        	data: [{
        		type: "pie",
        		startAngle: 60,
            yValueFormatString: "##0.00",
            indexLabel: "{label} - {y}",
        		dataPoints: [
              {% for amount in amounts %}
                {"label":"{{ amount[0] }}","y":{{ amount[1] }}},
              {% endfor %}
            ]
      	  }]
        });
        chart.render();

        var chart = new CanvasJS.Chart("chartAVGVolume", {
          animationEnabled: true,
          theme: "dark1", // "light1", "light2", "dark1", "dark2"
          title:{
            text: "Average Liq-Volume in USD"
          },
          data: [{
            type: "column",
            yValueFormatString: "$##0.00",
            dataPoints: [
               {% for data in datas %}
                 {"label":"{{ data[0] }}","y":{{ data[1] }}},
               {% endfor %}
             ]
           }]
         });
         chart.render();

         var chart = new CanvasJS.Chart("chartAVGLiq", {
       	   animationEnabled: true,
           theme: "dark1", // "light1", "light2", "dark1", "dark2"
       	   title:{
              text:"Average Liq-Amount"
       	   },
           data: [{
             type: "column",
             yValueFormatString: "##0.00",
             dataPoints: [
               {% for data in datas %}
                 {"label":"{{ data[0] }}","y":{{ data[2] }}},
               {% endfor %}
             ]
           }]
         });
         chart.render();

         var chart = new CanvasJS.Chart("markettoppercent", {
           animationEnabled: true,
           theme: "dark1", // "light1", "light2", "dark1", "dark2"
           title:{
             text: "Top 10 Gainers %"
           },
           data: [{
             type: "pie",
         		startAngle: 60,
            yValueFormatString: "##0.00\"%\"",
            indexLabel: "{label} - {y}",
             dataPoints: [
               {% for top in top10 %}
                 {"label":"{{ top['coin'] }}","y":{{ top['percent'] }}},
               {% endfor %}
              ]
            }]
          });
          chart.render();

          var chart = new CanvasJS.Chart("marketlowpercent", {
            animationEnabled: true,
            theme: "dark1", // "light1", "light2", "dark1", "dark2"
            title:{
              text: "Top 10 Losers %"
            },
            data: [{
              type: "pie",
          		startAngle: 60,
             yValueFormatString: "##0.00\"%\"",
             indexLabel: "{label} - {y}",
              dataPoints: [
                {% for low in low10 %}
                  {"label":"{{ low['coin'] }}","y":{{ low['percent'] }}},
                {% endfor %}
               ]
             }]
           });
           chart.render();

           var chart = new CanvasJS.Chart("marketvolume", {
             animationEnabled: true,
             theme: "dark1", // "light1", "light2", "dark1", "dark2"
             title:{
               text: "Market Volumes"
             },
             data: [{
               type: "pie",
           		 startAngle: 60,
               yValueFormatString: "$##0.00",
               indexLabel: "{label} - {y}",
               dataPoints: [
                 {% for market in markets %}
                   {"label":"{{ market['coin'] }}","y":{{ market['volume'] }}},
                 {% endfor %}
                ]
              }]
            });
            chart.render();

            var chart = new CanvasJS.Chart("marketprice", {
              animationEnabled: true,
              theme: "dark1", // "light1", "light2", "dark1", "dark2"
              title:{
                text: "Market Prices"
              },
              data: [{
                type: "doughnut",
            		 startAngle: 60,
                dataPoints: [
                   {% for market in markets %}
                     {"label":"{{ market['coin'] }}","y":{{ market['price'] }}},
                   {% endfor %}
                 ]
               }]
             });
             chart.render();

             var chart = new CanvasJS.Chart("marketpercent", {
               animationEnabled: true,
               theme: "dark1", // "light1", "light2", "dark1", "dark2"
               title:{
                 text: "Market Percentages"
               },
               data: [{
                 type: "doughnut",
             		startAngle: 60,
                 dataPoints: [
                   {% for market in markets %}
                     {"label":"{{ market['coin'] }}","y":{{ market['percent'] }}},
                   {% endfor %}
                  ]
                }]
              });
              chart.render();
        }
    </script>
  </head>
  <body class="w3-theme-l1">
    <div class="w3-row-padding">
      <div class="w3-threequarter">
        <h1 class="w3-wide"><span class="sbi sbi-btc"></span> Binance 24h Liquidation Data</h1>
      </div>
      <div class="w3-rest">
        <button class="w3-button w3-xlarge w3-right" onclick="openRightMenu()">&#9776;</button>
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-right w3-theme" style="display:none;right:0;" id="rightMenu">
          <button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large">Close &times;</button>
          <a href="/" class="w3-bar-item w3-button fa fa-pie-chart"> Statistic</a>
          <a href="/tracker" class="w3-bar-item w3-button fa fa-table"> Live Tracker</a>
          <a href="https://github.com/AtsutaneDotNet/Liquidation-Tracker" class="w3-bar-item w3-button fa fa-github"> Visit GitHub</a>
        </div>
      </div>
    </div>
    <div class="w3-content">
      <h5 class="w3-wide w3-center">Data Collected From {{ ytime }} UTC Until {{ time }} UTC</h5>
    </div>
    <div class="w3-row">
      <div class="w3-card-4 w3-half w3-margin-right w3-margin-left w3-margin-bottom" id="chartLiqVolume" style="height: 370px;"></div>
      <div class="w3-card-4 w3-rest w3-margin-right w3-margin-left w3-margin-bottom" id="chartLiqAmount" style="height: 370px;"></div>
      <div class="w3-card-4 w3-rest w3-margin-right w3-margin-left w3-margin-bottom" id="chartAVGVolume" style="height: 370px;"></div>
      <div class="w3-card-4 w3-rest w3-margin-right w3-margin-left w3-margin-bottom" id="chartAVGLiq" style="height: 370px;"></div>
      <div class="w3-card-4 w3-half w3-margin-right w3-margin-left w3-margin-bottom" id="markettoppercent" style="height: 370px;"></div>
      <div class="w3-card-4 w3-rest w3-margin-right w3-margin-bottom" id="marketlowpercent" style="height: 370px;"></div>
      <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </div>
    <div class="w3-row-padding">
      <div class="w3-rest w3-right-align">
        <h5 class="w3-wide">Tip The Author : ETH/USDT/ERC20 0x4EF84bB3908EE77EA0B1f5BECB185804beC5352d</h5>
        <h5 class="w3-wide">Server Time : {{ time }} UTC</h5>
      </div>
    </div>
  </body>
</html>
