<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/@scavengerbot/cryptofont/style.min.css">
    <link class="theme" rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel='icon' href='/static/favicon.ico' type='image/x-icon'/ >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
      .BUY {
        background-color: green;
      }
      .SELL {
        background-color: red;
      }
    </style>
    <title>Binance 24h Liquidation Data</title>
    <script>
      function openRightMenu() {
        document.getElementById("rightMenu").style.display = "block";
      }
      function closeRightMenu() {
        document.getElementById("rightMenu").style.display = "none";
      }
      $( document ).ready(function() {
        $("#content").load("/livetracker")
      });
      setInterval(function(){ // load the data from your endpoint into the div
        $("#content").load("/livetracker")
      },30000)
    </script>
  </head>
  <body class="w3-theme-l1">
    <div id="content"></div>
  </body>
</html>
